:root {
    --default-f-clr: white;
    --primary-bg-clr: #474F7A;
    --secondary-bg-clr: #000d34;
}

body {
    color: var(--default-f-clr);
}

header{
    color: black;
    text-align: center;
}

.outer-container{
    background-color: var(--primary-bg-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* Create inner box and curve the edges*/
    width: 80vw;
    height: 75vh;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: var(--secondary-bg-clr);
}

.answers-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}
.button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
